# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PHP\Projeto_Escola_TB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
